{% extends "layout.html" %}
{% block body %}
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}

  </head>
    <form name="metrics_settings" method='GET'>
        Project:
        <select name="project">
            <option value="backend">Backend</option>
            <option value="semantic">Semantic</option>
            <option value="mobile">Mobile</option>
        </select>
        From:
        <input type="text" name="history_to" value="{{ history_to }}">
        Days:
        <input type="text" name="history_days" value="{{ history_days }}">
        <button type="submit">Submit</button>
    </form>
    <h1>Kanban Metrics for {{ project }} - {{ history_from }} - {{ history_to }}</h1>
    {{ plot_div|indent(4)|safe }}

{% endblock %}
